*{
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url('https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 657px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* box-sizing: content-box; */
    /* padding: 10px 20px; */
} 

#submit{
    border-radius: 1em;
    color: white;
    background-color: black;
    margin-left: 10px;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgb(247, 142, 142);
    font-size: 1.5em;
}

h1{
    font-size: 100px;
    margin-bottom: 50px;
}

#name,#ingredient{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    margin: auto;
}
/* .bg form, table{
    justify-content: center;
    display: flex;
} */